@model Customer
@{
    ViewData["Title"] = "New";
    Layout = "_Layout";
}

<h1>New Customer</h1>

@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>    
    <div class="form-group">
        @Html.LabelFor(m => m.Birthday)
        @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control" })
    </div>
    <div class="custom-checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsSubscribed) Subscribed to Newsletter?
        </label>
    </div>

}